body {
    background-image: url(img/libvm.png);
    background-size: cover;
    background-attachment: fixed;
    background-size: 50% 100%;
    margin: 0;
    padding: 0;
}

#half {
    background-color: lightcoral;
    width: 50%;
    height: 100%;
    position: absolute;
}

.navbar {
    text-align: center;
    width: 100%;
    left: 0px;
    position: absolute;
    margin-top: 13em;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.navbar li {
    float: left;
}

.navbar li a {
    padding: 14px 16px;
    color: lightgrey;
    text-decoration: none;
    font-size: 1em;
    display: block;
    font-family: 'Crimson Text', serif;
}

.navbar a:link {
    color: black;
    text-decoration: none;
}

.navbar a:visited {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a:active {
    color: black;
    text-decoration: none;
}

.quote {
    margin: 22em 20px 0px;
    text-align: center;
}

#title-quote {
    font-size: 25px;
    font-family: 'Crimson Text', serif;
}

#fav-quote {
    font-size: 18px;
    font-family: 'Crimson Text', serif;

}
